<<<<<<< HEAD
@import './variables';

.footer{
  display: flex;
  justify-content: space-between;
  color: $lineColor;
  font-size: $fz15;
  &-icons {
    display: flex;
    div {
      margin-right: 20px;
    }
  }
  &-rules {
    display: flex;
    div {
      margin-right: 20px
    }
  }
=======
.footer{
  width: 100%;
  background-color: red;
>>>>>>> 4d097617db9119c8c05d8e5638ee36d813b634c0
}