@import './variables';
@import "./templates";

.footer{
  background-color: $bgHrFr;
  .container{
    padding-top: 30px;
    padding-bottom: 30px;
    @include flexSpaceBetween;
    @include _768{
      display: flex;
      flex-direction: column;
    }
    .less{
      display: flex;
      justify-content: space-around;
    }
    .footer-main{
      .title{
        @include forFooterAdaptive;
      }
    }
    .footer-private{
      .title{
        @include forFooterAdaptive;
      }
    }
    .footer-soc{
      width: 10%;
      margin-right: 20px;
      @include flexCenter;
      @include _768{
        width: 50%;
        margin: 20px auto 0 auto;
      }
      .face-box{
        margin-right: 40px;
      }
      .insta-box{
        margin-right: 40px;
      }
    }
  }
}