@import './variables';
@import './templates';

header {
  border-bottom: 1px solid $lineColor;
  background: $bgHrFr;
  .block {
    @include flexSpaceBetween;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #f2f2f2;
    .active {
      color: #b3b3b3;
    }
    &Left {
      display: flex;
      align-items: center;
      .items{
        width: fit-content;
        margin-right: 18px;
      }
      .item-logo {
        margin: 0;
      }
      .home, .profile, .tournaments, .rates, .rules {
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .line-vert{
        width: 1px;
        height: 30px;
        background-color: $lineColor;
        margin: 0 20px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
    }
    &Right{
      padding: 10px 0;
      .itemsLoginDesktop {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 560px){
          display: none;
        }
      }
      @media screen and (max-width: 560px){
        width: auto;
      }
      .itemsLogin {
        @include flexSpaceBetween;
        padding: 6px 16px;
        color: $colorBtn;
        background: $mainBg;
        transition: 0.4s;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
      }
      .register{
        color: $colorBtn;
        margin-right: 0;
        background: linear-gradient(210.53deg, #FF0000 45.6%, #FFDD00 78.36%);
      }
      .loginUserInfo{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        .cardIn {
          @include btnCard;
          margin-right: 28px;
          @media screen and (max-width: 1000px){
            margin-right: 20px;
          }
        }
        .userAvatar{
          display: flex;
          align-items: center;
          .username{
            @include flexSpaceBetween;
            align-items: center;
            div{
              margin-right: 10px;
            }
          }
          .balance{
            @include flexSpaceBetween;
            align-items: center;
            margin-right: 30px;
            @media screen and (max-width: 1000px){
              margin-right: 20px;
            }
            div{
              margin-right: 10px;
            }
          }
        }
        .modalInfo{
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          @media screen and (max-width: 560px){
            width: 200px;
          }
          @include popups();
          &.down{
            background: #2D9069;
            right: 0;
            transform: translateY(65px);
            div {
              margin-bottom: 8px;
              .line {
                border: 1px solid rgba(255, 255, 255, 0.4);
              }
            }
            .userMoney {
              margin-bottom: 0;
            }
            @media screen and (max-width: 1000px){
              transform: translateY(125px);
            }
            @media screen and (max-width: 768px){
              transform: translateY(270px);
            }
          }
          &.up{
            right: 0;
            transform: translateY(-100vh);
          }
        }
        .userIcon {
          cursor: pointer !important;
        }
      }
    }
  }
}


.modalInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  @media screen and (max-width: 560px){
    width: 200px;
  }
  @include popups();
  &.down{
    right: 0;
  }
  &.up{
    right: 0;
    transform: translateY(-100vh);
  }
}
.modalReg {
  @media screen and (min-width: 560px){
    display: none;
  }
  &.down{
    transform: translateY(40px);
  }
}

.incognito {
  cursor: pointer;
  display: none;
  @media screen and (max-width: 560px){
    display: inline-block;
  }
}
