.wrapper {
  width: 100%;
  @media screen and (max-width: 560px){
    display: block;
    width: 100%;
  }
  .lobby {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    @media screen and (max-width: 768px){
      flex-direction: column;
      margin-top: 30px;
    }
    @media screen and (max-width: 400px){
      align-items: center;
      display: block;
      width: 100%;
    }
    &-left {
      display: flex;
      margin-bottom: 30px;
      @media screen and (max-width: 500px){
            // flex-direction: column;
            display: block;
            width: 100%;
          }
    }
    .avatar {
      width: 200px;
      height: 280px;
      margin-right: 30px;
      object-fit: cover;
      border-radius: 10px;
      @media screen and (max-width: 768px){
        width: 205px;
        height: 200px;
      }
      @media screen and (max-width: 500px){
        margin-right: 0px;
      }
    }
    .name {
      margin: 16px 0 6px 0;
      font-weight: 500;
      font-size: 26px;
      line-height: 31px;
      @media screen and (max-width: 768px){
        font-size: 20px;
        line-height: 23px;
      }
    }
    .map {
      font-style: italic;
      font-size: 24px;
      line-height: 26px;
      @media screen and (max-width: 768px){
        font-size: 18px;
        line-height: 21px;
      }
    }
    .date {
      margin: 6px 0;
      font-style: italic;
      font-size: 20px;
      line-height: 24px;
      @media screen and (max-width: 768px){
        font-size: 18px;
        line-height: 21px;
      }
    }
    .rule {
      max-width: 321px;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      line-height: 120%;
      span {
        color: #F2C00F;
      }
    }
    .price {
      font-size: 16px;
      line-height: 19px;
      span {
        color: #2D9069;
      }
    }
    .price-title {
      margin: 6px 0;
      color: #FFFFFF;
    }
    .btn {
      border: none;
      cursor: pointer;
      outline: none;
      margin-top: 20px;
      @include btn2();
    }
    &-right {
      padding: 10px;
      overflow: auto;
      width: 200px;
      max-height: 500px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
      border-radius: 10px;
      @media screen and (max-width: 560px){
        width: 205px;
      }
      .title {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
      }
    }
  }
  .password-block {
    padding: 10px 0;
    width: 470px;
    border: 1px solid rgba(45, 144, 105, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    .password {
      margin-top: 10px;
      font-weight: bold;
    }
  }
}