@import "./templates";

.rates-main {
  padding-top: 40px;
  width: 100%;
  position: relative;
  .rates-image-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    .rates-main-image {
      width: 100%;
      opacity: 0.7;
    }
    @include more_1000{
      height: 600px;
    }
  }
  .rating-title {
    margin: auto;
    width: max-content;
  }
}

.rates-page {
  width: max-content;
  margin: 0 auto;
  .rates-item {
    width: 330px;
    height: 100px;
    color: white;
    @include flexSpaceBetween;
    align-items: center;
    border-bottom: 1px solid black;
    .star-icon {
      color: #F2C00F !important;
    }
    .item-info {
      display: flex;
      align-items: center;
      .item-img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
      .item-names {
        margin-left: 30px;
        &-name {
          font-weight: bold;
          margin-bottom: 16px;
        }
      }
    }
  }
}