@import "./templates";

.rates-main-image-box{
  padding-top: 40px;
  width: 100%;
  position: relative;
  .rating-title{
    margin: auto;
    width: max-content;
  }
}

.rates-page{
  width: max-content;
  margin: 0 auto;
  .rates-item{
    width: 330px;
    height: 100px;
    color: white;
    @include flexSpaceBetween;
    align-items: center;
    border-bottom: 1px solid black;
    .star-icon{
      color: #F2C00F !important;
    }
    .item-info{
      display: flex;
      align-items: center;
      .item-img{
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
      .item-names{
        margin-left: 30px;
        &-name{
          font-weight: bold;
          margin-bottom: 16px;
        }
      }
    }
  }
}