@import "./templates";

.rates-main-image-box{
  padding-top: 40px;
  width: 100%;
  position: relative;
  &::after{
    content: '';
    background: url("../img/pubg-slide3.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.27;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  @include more_1200{
    height: 700px;
  }
  .rating-title{
    margin: auto;
    width: max-content;
  }
}


.rates-page{
  width: max-content;
  margin: 0 auto;
  .rates-item{
    width: 330px;
    height: 100px;
    color: white;
    @include flexSpaceBetween;
    align-items: center;
    border-bottom: 1px solid black;
    .star-icon{
      color: #F2C00F !important;
    }
    .item-info{
      display: flex;
      align-items: center;
      .item-img{
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
      .item-names{
        margin-left: 30px;
        &-name{
          font-weight: bold;
          margin-bottom: 16px;
        }
      }
    }
  }
}