@import './variables';
@import './templates';

.sidebar {
  margin-top: 40px;
  margin-right: 15px;
  width: max-content;
  box-sizing: border-box;
  h2 {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  @include _560{
    display: none;
  }
  @include _768{
    width: auto;
  }
  &Title {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #1D1C1D;
    margin-left: 10px;
    &Admin {
      margin-bottom: 0;
    }
    img {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  ul {
    margin-top: 19px;
    margin-bottom: 49px;
  }
  &Item {
    @include flexSpaceBetween;
    align-items: center;
    padding: 10px 8px 10px 10px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color:  #fff;
    @media screen and (max-width: 768px) {
      width: 50px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .itemHint {
      display: none;
    }
    >div {
      display: flex;
    }
    &Icon {
      @include flexCenter;
      margin-right: 10px;
      @media screen and (max-width: 768px) {
      margin: 0;
      width: 20px;
      height: 20px;
    }
    }
    &Text {
      @include flexCenter;
      @include _768{
        display: none;
      }
    }
  }
  .active {
    font-weight: bold;
    background-color: $mainBg;
    color: #0A0816;
    .itemHint {
      display: block;
    }
  }
  &-mobile {
    display: none;
    @media screen and (max-width: 768px){
      display: block;
    }
  }
}