@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween{
  display: flex;
  justify-content: space-between;
}

@mixin flexWrap{
  display: flex;
  flex-wrap: wrap;
}

@import './variables';;

@mixin btn{
  margin-top: 10px;
  padding: 10px 12px;
  width: 185px;
  color: $colorBtn;
  background: $mainBg;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  outline: none;
}

@mixin btnCard{
  padding: 12px 0;
  width: 170px;
  color: #0A0816;
  border-radius: 10px;
  background: #FFDD00;
}

@mixin btn2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  color: $colorBtn;
  background: $mainBg;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@mixin popups{
  z-index: 600;
  background-color: #343232;
  border: 1px solid #5c5e66;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@mixin more_1350{
  @media (min-width: 1350px) {
    @content;
  }
}

@mixin _1170{
  @media (max-width: 1170px) {
    @content;
  }
}
@mixin _979{
  @media (max-width: 979px) {
    @content;
  }
}
@mixin _768{
  @media (max-width: 768px) {
    @content;
  }
}
@mixin _600{
  @media (max-width: 600px) {
    @content;
  }
}
@mixin _560{
  @media (max-width: 560px) {
    @content;
  }
}
@mixin _480{
  @media (max-width: 480px) {
    @content;
  }
}
@mixin _360{
  @media (max-width: 360px) {
    @content;
  }
}

@mixin userInfo{
  margin-bottom: 40px;
  border-bottom: 1px solid white;
  width: 300px;
}

@mixin forFooterAdaptive{
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
  @include _768{
    margin-top: 20px;
    font-size: 20px;
  }
  .text{
    font-size: 14px;
  }
}