@import './variables';

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween{
  display: flex;
  justify-content: space-between;
}

@mixin flexWrap{
  display: flex;
  flex-wrap: wrap;
}

@mixin btn{
  margin-top: 10px;
  padding: 10px 12px;
  width: 185px;
  color: $colorBtn;
  background: $mainBg;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  outline: none;
  box-shadow: inset 0 0 20px #dbc00c;
  text-shadow: none;
  transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 20px #b69e03, 0 0 20px #ccb105;
    text-shadow: 1px 1px 2px #dbc00c; 
  }
}

@mixin btnCard{
  padding: 12px;
  width: 170px;
  color: #0A0816;
  border-radius: 10px;
  background: #FFDD00;
  box-shadow: inset 0 0 20px #dbc00c;
  transition: all 950ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 20px #b69e03, 0 0 20px #ccb105;
  }
}

@mixin btn2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  color: $colorBtn;
  background: $mainBg;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  box-shadow: inset 0 0 20px #dbc00c;
  transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 20px #b69e03, 0 0 20px #ccb105;
  }
}

@mixin popups{
  z-index: 600;
  background-color: #343232;
  border: 1px solid #5c5e66;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@mixin more_1350{
  @media (min-width: 1350px) {
    @content;
  }
}
@mixin more_1200{
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin more_1000{
  @media (min-width: 1000px) {
    @content;
  }
}
@mixin _1170{
  @media (max-width: 1170px) {
    @content;
  }
}
@mixin _979{
  @media (max-width: 979px) {
    @content;
  }
}
@mixin _768{
  @media (max-width: 768px) {
    @content;
  }
}
@mixin _600{
  @media (max-width: 600px) {
    @content;
  }
}
@mixin _560{
  @media (max-width: 560px) {
    @content;
  }
}
@mixin _480{
  @media (max-width: 480px) {
    @content;
  }
}
@mixin _360{
  @media (max-width: 360px) {
    @content;
  }
}

@mixin userInfo{
  margin-bottom: 40px;
  border-bottom: 1px solid white;
  width: 300px;
}

@mixin forFooterAdaptive{
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
  @include _768{
    margin-top: 20px;
    font-size: 20px;
  }
  .text{
    font-size: 14px;
  }
}

@mixin forChangingForms {
  display: flex;
  flex-direction: column;
  width: 368px;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    width: 352px;
  }
  @media screen and (max-width: 560px) {
    width: 320px;
  }
  @media screen and (max-width: 360px) {
    width: 290px;
  }
  h2{
    margin-top: 0;
  }
  .mini-title{
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    width: max-content;
    &.nav{
      color: $mainBg;
    }
  }
  .change-text {
    font-size: 16px;
    line-height: 140%;
    @media screen and (max-width: 560px) {
      font-size: 13px;
    }
  }
  .input{
    border-radius: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .change-text {
    font-size: 16px;
    text-align: center;
  }
  .change-btn{
    position: relative;
    height: 40px;
    border-radius: 10px;
    background-color: #FFDD00;
    color: #0A0816;
    font-size: 22px;
    border: none;
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    &:hover{
      cursor: pointer;
    }
  }
  .error{
    color: red;
    font-size: 14px;
  }
}