@import "./templates";

.event-title{
  margin-bottom: 20px;
  margin-top: 20px;
  &.more{
    margin-top: 40px;
  }
}
.tournament-slide {
  width: 385px;
  height: 160px;
  margin: 20px 10px;
  .image{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.5;
    border-radius: 10px;
    object-fit: cover;
    &:hover{
      opacity: 0.86;
    }
  }
  .text{
    position: absolute;
    padding-left: 5px;
    color: white;
    bottom: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
  }
}

.tournament-doesnt{
  width: max-content;
  margin: 10px auto;
}

.rec.rec-arrow {
  background-color: inherit;
  color: #F2C00F;
  &:hover {
    background-color: black;
    &:enabled {
      background-color: black;
    }
  }
  &:disabled {
    background-color: black;
  }
}

.bTybGL {
  &:hover, &:enabled, &:focus {
    background-color: black;
  }
}

.rec-pagination {
  .rec-dot {
    border-radius: 10px;
    border: 3px solid #F2C00F;
    box-shadow: none;
    max-width: 20px;
  }
  .DIuaA {
    border-radius: 10px;
    box-shadow: none;
    &:hover, &:focus, &:enabled {
      box-shadow: none;
    }
  }
  .gUWalH {
    background-color: transparent;
    box-shadow: none;
    &:hover, &:focus, &:enabled {
      box-shadow: none;
    }
  }
}
.rec-arrow-right{
  &:hover, &:enabled, &:focus{
    background-color: black;
  }
}

