@import "templates";

.block{
  &User {
    @include flexCenter;
    flex-direction: column;
    font-size: 18px;
    .userInfo{
      margin-top: 40px;
      .phone-box{
        @include userInfo;
        .phone-subtitle{
          font-size: 14px;
        }
        .phone{
          margin-top: 10px;
          padding-bottom: 6px;
        }
      }
      .name-box{
        @include userInfo;
        .name-subtitle{
          font-size: 14px;
        }
        .name{
          margin-top: 10px;
          padding-bottom: 6px;
        }
      }
      .balance-box{
        @include userInfo;
        .balance-subtitle{
          font-size: 14px;
        }
        .balance{
          margin-top: 10px;
          padding-bottom: 6px;
        }
      }
    }
  }
}

.nav{
  margin-top: 20px;
  &Item{
    margin-right: 20px;
  }
  .active{
    color: #5c5e66;
  }
}

.logout {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
