.change-form{
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 0 auto;
  h2{
    margin-top: 0;
  }
  .mini-title{
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
  }
  .input{
    height: 50px;
    border-radius: 10px;
    padding: 0 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .change-btn{
    height: 50px;
    border-radius: 10px;
    background-color: #FFDD00;
    color: #0A0816;
    font-weight: bold;
    font-size: 22px;
    border: none;
    margin-top: 15px;
    &:hover{
      cursor: pointer;
    }
  }
  .error{
    color: red;
    font-size: 14px;
  }
}