.user-language-settings{
  margin: 0 auto;
  width: max-content;
  .languages{
    width: 340px;
    margin-top: 30px;
    .language{
      border-bottom: 1px solid #FFFFFF;
      padding: 5px 10px;
      margin-bottom: 12px;
      cursor: pointer;
      &.kg{
        font-weight: bold;
      }
      &.ru{
        font-weight: bold;
      }
      &.en{
        font-weight: bold;
      }
      &.kz{
        font-weight: bold;
      }
      &.tr{
        font-weight: bold;
      }
    }
  }
}