.change-form{
  display: flex;
  flex-direction: column;
  width: 368px;
  margin: 50px auto;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    width: 352px;
  }
  @media screen and (max-width: 560px) {
    width: 320px;
  }
  @media screen and (max-width: 360px) {
    width: 290px;
  }
  h2{
    margin-top: 0;
  }
  .mini-title{
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
  }
  .change-text {
    font-size: 16px;
    line-height: 140%;
    @media screen and (max-width: 560px) {
      font-size: 13px;
    }
    a {
      border-bottom: 1px solid #FFFFFF;
    }
  }
  .input{
    height: 50px;
    border-radius: 10px;
    padding: 0 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .change-text {
    font-size: 16px;
    text-align: center;
  }
  .change-btn{
    position: relative;
    height: 40px;
    border-radius: 10px;
    background-color: #FFDD00;
    color: #0A0816;
    font-size: 22px;
    border: none;
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    &:hover{
      cursor: pointer;
    }
  }
  .error{
    color: red;
    font-size: 14px;
  }
}