@import './templates';
@import './variables';

.change-form{
  @include forChangingForms;
  margin: 0 auto;
  .success-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

input[type="file"] {
    display: none;
}

.avatar-change-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  .avatar-change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px !important;
    height: 35px;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    background: $bg-red;
    cursor: pointer;
    &-icon {
      background: url('../img/download.png') center/cover;
      height: 15px;
      width: 15px;
      margin-right: 5px;
    }
  }
  .avatar-text {
    font-size: 12px;
    font-style: italic;
  }
}

.change-pass{
  @include forChangingForms;
  margin: 50px auto;
}

.change {
  .change-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .change-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      text-align: center;
      @media screen and (max-width: 560px) {
        font-size: 14px;
      }
    }
    .change-error-btn {
      cursor: pointer;
      padding: 10px 30px;
      border-radius: 10px;
      background-color: $bg-red;
      color: #0A0816;
      font-size: 18px;
      border: none;
      margin-top: 15px;
      @media screen and (max-width: 560px) {
        padding: 5px 20px;
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
}