$lineColor: #5c5e66;
$fz15: 15px;
$bgBody: #26262B;
$bgHrFr: #0A0816;
$bgBtn-green: #2D9069;
$bg-red: #FF0000;;
$mainBg: #FFDD00;
$colorBtn: #0A0816;
$colorYR: linear-gradient(180deg, #FF0000 43%, #FFDD00 95.08%);