@import './variables';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 560px){
    display: block;
    width: 100%;
  }
  .event {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 40px 0px;
    border-right: 1px solid rgba(214, 214, 214, 0.5);
    border-bottom: 1px solid rgba(214, 214, 214, 0.5);
    width: 373px;
    @media screen and (max-width: 1150px){
      width: 50%;
      &:nth-child(2n+2) {
        border-right: none;
      }
    }
    @media screen and (min-width: 1150px){
      &:nth-child(3n+3) {
        border-right: none;
      }
    }
    @media screen and (max-width: 560px){
      width: 100%;
      border-right: none;
    }
    .avatar {
      width: 150px;
      height: 145px;
      object-fit: cover;
      border-radius: 10px;
      @media screen and (max-width: 560px){
        width: 205px;
        height: 200px;
      }
    }
    .name {
      margin: 16px 0 6px 0;
      font-weight: 500;
      font-size: 26px;
      line-height: 31px;
      @media screen and (max-width: 560px){
        font-size: 20px;
        line-height: 23px;
      }
    }
    .map {
      font-style: italic;
      font-size: 24px;
      line-height: 26px;
      @media screen and (max-width: 560px){
        font-size: 18px;
        line-height: 21px;
      }
    }
    .date {
      margin: 6px 0;
      font-style: italic;
      font-size: 20px;
      line-height: 24px;
      @media screen and (max-width: 560px){
        font-size: 18px;
        line-height: 21px;
      }
    }
    .rule {
      max-width: 321px;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      line-height: 120%;
      span {
        color: #F2C00F;
        text-decoration: underline;
      }
    }
    .price {
      font-size: 16px;
      line-height: 19px;
      color: #2D9069;
    }
    .price-title {
      margin: 6px 0;
      color: #FFFFFF;
    }
    .btn {
      margin-top: 20px;
      @include btn2();
    }
  }
}

