@import '../variables';

.timer{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px 4px 10px;
  width: 240px;
  // height: 45px;
  border: 1px solid $mainBg;
  box-sizing: border-box;
  border-radius: 10px;
  div{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
  .block {
    .count {
      text-align: center;
    }
    .value {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}