.block {
  border-bottom: 1px solid #5c5e66;
  padding: 100px 0 50px 0;
  &User {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    >div {
      display: flex;
      align-items: center;
    }
  .avatar {
    width: 100px;
    height: 100px;
    background: rgba(121, 114, 114, 0.89);
    border-radius: 50%;
    margin-right: 30px;
  }
  .edit {
    max-width: 200px;
    padding: 6px 20px;
    background-color: #000;
    font-size: 15px;
    border: 1px solid #838692;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    }
    .results {
      .item {
        margin-right: 40px;
      }
    }
  }
}