header {
  border-bottom: 1px solid #5c5e66;
  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #f2f2f2;
    .active {
      color:#5c5e66;
    }
    &Left {
      display: flex;
      align-items: center;
      img {
        margin-right: 30px;
      }
    }
    &Right {
      .items {
        margin-left: 10px;
        &Login {
          padding: 6px 16px;
          background:#0054ff;
          transition: 0.4s;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            background: #004ce6;
          } 
        }
      }
    }
  }
}